--
-- PostgreSQL database dump
--

\restrict jctL0Wn4fbpZ2nHC54TXAAZxeYghgvhY4Rdq9Gqb2idAlCUjWNddbJNptwoA5EV

-- Dumped from database version 14.20
-- Dumped by pg_dump version 14.20

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: privilege; Type: TABLE DATA; Schema: public; Owner: clinica
--

COPY public.privilege (priv_id, priv_name, priv_desc) FROM stdin;
\.


--
-- Data for Name: status; Type: TABLE DATA; Schema: public; Owner: clinica
--

COPY public.status (status_id, name, description) FROM stdin;
1	available	this is the active status
2	unavailable	this is the inactive status
3	private	\N
4	pending	\N
5	removed	this indicates that a record is specifically removed by user
6	locked	\N
7	auto-removed	this indicates that a record is removed due to the removal of its parent record
8	signed	this indicates all StudyEvents has been signed
10	souce_data_verification	indicates the element has undergone SDV
9	frozen	frozen
11	reset	deleting event crf resets status
\.


--
-- Data for Name: user_type; Type: TABLE DATA; Schema: public; Owner: clinica
--

COPY public.user_type (user_type_id, user_type) FROM stdin;
1	admin
2	user
3	tech-admin
\.


--
-- Name: privilege_priv_id_seq; Type: SEQUENCE SET; Schema: public; Owner: clinica
--

SELECT pg_catalog.setval('public.privilege_priv_id_seq', 1, false);


--
-- Name: status_status_id_seq; Type: SEQUENCE SET; Schema: public; Owner: clinica
--

SELECT pg_catalog.setval('public.status_status_id_seq', 1, false);


--
-- Name: user_type_user_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: clinica
--

SELECT pg_catalog.setval('public.user_type_user_type_id_seq', 1, false);


--
-- PostgreSQL database dump complete
--

\unrestrict jctL0Wn4fbpZ2nHC54TXAAZxeYghgvhY4Rdq9Gqb2idAlCUjWNddbJNptwoA5EV

